# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Data (Generated)
references.csv
references_with_topics.csv

# Artifacts (Generated)
*.png
*.html
*.pdf
lib/

# IDE settings
.vscode/
.idea/
.DS_Store
